notes/jsonDumps/responseUponImportingTemplateIntoAProcessGroup.json
{"permissions":{"canRead":true,"canWrite":true},"processGroupFlow":{"id":"8b4755fe-015e-1000-bd0f-2847b3200d63","uri":"http://localhost:8081/nifi-api/flow/process-groups/8b4755fe-015e-1000-bd0f-2847b3200d63","parentGroupId":"5cb229a2-015e-1000-af7e-47911f0b10d6","breadcrumb":{"id":"8b4755fe-015e-1000-bd0f-2847b3200d63","permissions":{"canRead":true,"canWrite":true},"breadcrumb":{"id":"8b4755fe-015e-1000-bd0f-2847b3200d63","name":"ourProcessGroup"},"parentBreadcrumb":{"id":"5cb229a2-015e-1000-af7e-47911f0b10d6","permissions":{"canRead":true,"canWrite":true},"breadcrumb":{"id":"5cb229a2-015e-1000-af7e-47911f0b10d6","name":"NiFi Flow"}}},"flow":{"processGroups":[],"remoteProcessGroups":[],"processors":[{"revision":{"version":0},"id":"8c98f719-d302-3587-03e9-a6f1e4a2d13c","uri":"http://localhost:8081/nifi-api/processors/8c98f719-d302-3587-03e9-a6f1e4a2d13c","position":{"x":1115.0,"y":835.0},"permissions":{"canRead":true,"canWrite":true},"bulletins":[],"component":{"id":"8c98f719-d302-3587-03e9-a6f1e4a2d13c","parentGroupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","position":{"x":1115.0,"y":835.0},"name":"Dummy","type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.3.0"},"state":"STOPPED","style":{},"relationships":[{"name":"success","description":"All successful FlowFiles are routed to this relationship","autoTerminate":true}],"supportsParallelProcessing":true,"supportsEventDriven":true,"supportsBatching":true,"persistsState":true,"restricted":false,"deprecated":false,"multipleVersionsAvailable":false,"inputRequirement":"INPUT_REQUIRED","config":{"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","Stateful Variables Initial Value":null},"descriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","description":"Regular expression for attributes to be deleted from FlowFiles.  Existing attributes that match will be deleted regardless of whether they are updated by this processor.","required":false,"sensitive":false,"dynamic":false,"supportsEl":true},"Store State":{"name":"Store State","displayName":"Store State","description":"Select whether or not state will be stored. Selecting 'Stateless' will offer the default functionality of purely updating the attributes on a FlowFile in a stateless manner. Selecting a stateful option will not only store the attributes on the FlowFile but also in the Processors state. See the 'Stateful Usage' topic of the 'Additional Details' section of this processor's documentation for more information","defaultValue":"Do not store state","allowableValues":[{"allowableValue":{"displayName":"Do not store state","value":"Do not store state"},"canRead":true},{"allowableValue":{"displayName":"Store state locally","value":"Store state locally"},"canRead":true}],"required":true,"sensitive":false,"dynamic":false,"supportsEl":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","description":"If using state to set/reference variables then this value is used to set the initial value of the stateful variable. This will only be used in the @OnScheduled method when state does not contain a value for the variable. This is required if running statefully but can be empty if needed.","required":false,"sensitive":false,"dynamic":false,"supportsEl":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"comments":"","customUiUrl":"/nifi-update-attribute-ui-1.3.0/configure","lossTolerant":false,"defaultConcurrentTasks":{"TIMER_DRIVEN":"1","EVENT_DRIVEN":"0","CRON_DRIVEN":"1"},"defaultSchedulingPeriod":{"TIMER_DRIVEN":"0 sec","CRON_DRIVEN":"* * * * * ?"}},"extensionMissing":false},"inputRequirement":"INPUT_REQUIRED","status":{"groupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","id":"8c98f719-d302-3587-03e9-a6f1e4a2d13c","name":"Dummy","statsLastRefreshed":"19:36:04 EDT","aggregateSnapshot":{"id":"8c98f719-d302-3587-03e9-a6f1e4a2d13c","groupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","name":"Dummy","type":"UpdateAttribute","runStatus":"Stopped","bytesRead":0,"bytesWritten":0,"read":"0 bytes","written":"0 bytes","flowFilesIn":0,"bytesIn":0,"input":"0 (0 bytes)","flowFilesOut":0,"bytesOut":0,"output":"0 (0 bytes)","taskCount":0,"tasksDurationNanos":0,"tasks":"0","tasksDuration":"00:00:00.000","activeThreadCount":0}}},{"revision":{"version":0},"id":"69bf6ffd-bac0-3045-757e-73b0a457bf9d","uri":"http://localhost:8081/nifi-api/processors/69bf6ffd-bac0-3045-757e-73b0a457bf9d","position":{"x":784.0,"y":860.0},"permissions":{"canRead":true,"canWrite":true},"bulletins":[],"component":{"id":"69bf6ffd-bac0-3045-757e-73b0a457bf9d","parentGroupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","position":{"x":784.0,"y":860.0},"name":"Dummy","type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.3.0"},"state":"STOPPED","style":{},"relationships":[{"name":"success","description":"All successful FlowFiles are routed to this relationship","autoTerminate":true}],"supportsParallelProcessing":true,"supportsEventDriven":true,"supportsBatching":true,"persistsState":true,"restricted":false,"deprecated":false,"multipleVersionsAvailable":false,"inputRequirement":"INPUT_REQUIRED","config":{"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","Stateful Variables Initial Value":null},"descriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","description":"Regular expression for attributes to be deleted from FlowFiles.  Existing attributes that match will be deleted regardless of whether they are updated by this processor.","required":false,"sensitive":false,"dynamic":false,"supportsEl":true},"Store State":{"name":"Store State","displayName":"Store State","description":"Select whether or not state will be stored. Selecting 'Stateless' will offer the default functionality of purely updating the attributes on a FlowFile in a stateless manner. Selecting a stateful option will not only store the attributes on the FlowFile but also in the Processors state. See the 'Stateful Usage' topic of the 'Additional Details' section of this processor's documentation for more information","defaultValue":"Do not store state","allowableValues":[{"allowableValue":{"displayName":"Do not store state","value":"Do not store state"},"canRead":true},{"allowableValue":{"displayName":"Store state locally","value":"Store state locally"},"canRead":true}],"required":true,"sensitive":false,"dynamic":false,"supportsEl":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","description":"If using state to set/reference variables then this value is used to set the initial value of the stateful variable. This will only be used in the @OnScheduled method when state does not contain a value for the variable. This is required if running statefully but can be empty if needed.","required":false,"sensitive":false,"dynamic":false,"supportsEl":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"comments":"","customUiUrl":"/nifi-update-attribute-ui-1.3.0/configure","lossTolerant":false,"defaultConcurrentTasks":{"TIMER_DRIVEN":"1","EVENT_DRIVEN":"0","CRON_DRIVEN":"1"},"defaultSchedulingPeriod":{"TIMER_DRIVEN":"0 sec","CRON_DRIVEN":"* * * * * ?"}},"extensionMissing":false},"inputRequirement":"INPUT_REQUIRED","status":{"groupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","id":"69bf6ffd-bac0-3045-757e-73b0a457bf9d","name":"Dummy","statsLastRefreshed":"19:36:04 EDT","aggregateSnapshot":{"id":"69bf6ffd-bac0-3045-757e-73b0a457bf9d","groupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","name":"Dummy","type":"UpdateAttribute","runStatus":"Stopped","bytesRead":0,"bytesWritten":0,"read":"0 bytes","written":"0 bytes","flowFilesIn":0,"bytesIn":0,"input":"0 (0 bytes)","flowFilesOut":0,"bytesOut":0,"output":"0 (0 bytes)","taskCount":0,"tasksDurationNanos":0,"tasks":"0","tasksDuration":"00:00:00.000","activeThreadCount":0}}},{"revision":{"version":0},"id":"b3ce46b2-ac5b-32df-849e-68b8eceb5bac","uri":"http://localhost:8081/nifi-api/processors/b3ce46b2-ac5b-32df-849e-68b8eceb5bac","position":{"x":878.0,"y":383.0},"permissions":{"canRead":true,"canWrite":true},"bulletins":[],"component":{"id":"b3ce46b2-ac5b-32df-849e-68b8eceb5bac","parentGroupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","position":{"x":878.0,"y":383.0},"name":"PutKafka","type":"org.apache.nifi.processors.kafka.PutKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-0-8-nar","version":"1.3.0"},"state":"STOPPED","style":{},"relationships":[{"name":"failure","description":"Any FlowFile that cannot be sent to Kafka will be routed to this Relationship","autoTerminate":false},{"name":"success","description":"Any FlowFile that is successfully sent to Kafka will be routed to this Relationship","autoTerminate":false}],"supportsParallelProcessing":true,"supportsEventDriven":false,"supportsBatching":false,"persistsState":false,"restricted":false,"deprecated":false,"multipleVersionsAvailable":false,"inputRequirement":"INPUT_REQUIRED","config":{"properties":{"Known Brokers":"127.0.0.1:9093,127.0.0.1:9094","Topic Name":"${http.headers.Topic}","Partition":null,"Kafka Key":null,"Delivery Guarantee":"0","Message Delimiter":null,"Max Buffer Size":"5 MB","Max Record Size":"1 MB","Communications Timeout":"30 secs","Async Batch Size":"16384","Queue Buffering Max Time":null,"Compression Codec":"none","Client Name":"just-a-client"},"descriptors":{"Known Brokers":{"name":"Known Brokers","displayName":"Known Brokers","description":"A comma-separated list of known Kafka Brokers in the format <host>:<port>","required":true,"sensitive":false,"dynamic":false,"supportsEl":true},"Topic Name":{"name":"Topic Name","displayName":"Topic Name","description":"The Kafka Topic of interest","required":true,"sensitive":false,"dynamic":false,"supportsEl":true},"Partition":{"name":"Partition","displayName":"Partition","description":"Specifies which Kafka Partition to add the message to. If using a message delimiter, all messages in the same FlowFile will be sent to the same partition. If a partition is specified but is not valid, then the FlowFile will be routed to failure relationship.","required":false,"sensitive":false,"dynamic":false,"supportsEl":true},"Kafka Key":{"name":"Kafka Key","displayName":"Kafka Key","description":"The Key to use for the Message","required":false,"sensitive":false,"dynamic":false,"supportsEl":true},"Delivery Guarantee":{"name":"Delivery Guarantee","displayName":"Delivery Guarantee","description":"Specifies the requirement for guaranteeing that a message is sent to Kafka","defaultValue":"0","allowableValues":[{"allowableValue":{"displayName":"Best Effort","value":"0","description":"FlowFile will be routed to success after successfully writing the content to a Kafka node, without waiting for a response. This provides the best performance but may result in data loss."},"canRead":true},{"allowableValue":{"displayName":"Guarantee Single Node Delivery","value":"1","description":"FlowFile will be routed to success if the message is received by a single Kafka node, whether or not it is replicated. This is faster than <Guarantee Replicated Delivery> but can result in data loss if a Kafka node crashes"},"canRead":true},{"allowableValue":{"displayName":"Guarantee Replicated Delivery","value":"all","description":"FlowFile will be routed to failure unless the message is replicated to the appropriate number of Kafka Nodes according to the Topic configuration"},"canRead":true}],"required":true,"sensitive":false,"dynamic":false,"supportsEl":false},"Message Delimiter":{"name":"Message Delimiter","displayName":"Message Delimiter","description":"Specifies the delimiter (interpreted in its UTF-8 byte representation) to use for splitting apart multiple messages within a single FlowFile. If not specified, the entire content of the FlowFile will be used as a single message. If specified, the contents of the FlowFile will be split on this delimiter and each section sent as a separate Kafka message. Note that if messages are delimited and some messages for a given FlowFile are transferred successfully while others are not, the messages will be split into individual FlowFiles, such that those messages that were successfully sent are routed to the 'success' relationship while other messages are sent to the 'failure' relationship.","required":false,"sensitive":false,"dynamic":false,"supportsEl":true},"Max Buffer Size":{"name":"Max Buffer Size","displayName":"Max Buffer Size","description":"The maximum amount of data to buffer in memory before sending to Kafka","defaultValue":"5 MB","required":true,"sensitive":false,"dynamic":false,"supportsEl":false},"Max Record Size":{"name":"Max Record Size","displayName":"Max Record Size","description":"The maximum size that any individual record can be.","defaultValue":"1 MB","required":true,"sensitive":false,"dynamic":false,"supportsEl":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","description":"The amount of time to wait for a response from Kafka before determining that there is a communications error","defaultValue":"30 secs","required":true,"sensitive":false,"dynamic":false,"supportsEl":false},"Async Batch Size":{"name":"Async Batch Size","displayName":"Batch Size","description":"This configuration controls the default batch size in bytes.The producer will attempt to batch records together into fewer requests whenever multiple records are being sent to the same partition. This helps performance on both the client and the server.","defaultValue":"16384","required":true,"sensitive":false,"dynamic":false,"supportsEl":false},"Queue Buffering Max Time":{"name":"Queue Buffering Max Time","displayName":"Queue Buffering Max Time","description":"Maximum time to buffer data before sending to Kafka. For example a setting of 100 ms will try to batch together 100 milliseconds' worth of messages to send at once. This will improve throughput but adds message delivery latency due to the buffering.","required":false,"sensitive":false,"dynamic":false,"supportsEl":false},"Compression Codec":{"name":"Compression Codec","displayName":"Compression Codec","description":"This parameter allows you to specify the compression codec for all data generated by this producer.","defaultValue":"none","allowableValues":[{"allowableValue":{"displayName":"None","value":"none","description":"Compression will not be used for any topic."},"canRead":true},{"allowableValue":{"displayName":"GZIP","value":"gzip","description":"Compress messages using GZIP"},"canRead":true},{"allowableValue":{"displayName":"Snappy","value":"snappy","description":"Compress messages using Snappy"},"canRead":true}],"required":true,"sensitive":false,"dynamic":false,"supportsEl":false},"Client Name":{"name":"Client Name","displayName":"Client Name","description":"Client Name to use when communicating with Kafka","required":true,"sensitive":false,"dynamic":false,"supportsEl":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"100 ms","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"comments":"","lossTolerant":false,"defaultConcurrentTasks":{"TIMER_DRIVEN":"1","EVENT_DRIVEN":"0","CRON_DRIVEN":"1"},"defaultSchedulingPeriod":{"TIMER_DRIVEN":"0 sec","CRON_DRIVEN":"* * * * * ?"}},"extensionMissing":false},"inputRequirement":"INPUT_REQUIRED","status":{"groupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","id":"b3ce46b2-ac5b-32df-849e-68b8eceb5bac","name":"PutKafka","statsLastRefreshed":"19:36:04 EDT","aggregateSnapshot":{"id":"b3ce46b2-ac5b-32df-849e-68b8eceb5bac","groupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","name":"PutKafka","type":"PutKafka","runStatus":"Stopped","bytesRead":0,"bytesWritten":0,"read":"0 bytes","written":"0 bytes","flowFilesIn":0,"bytesIn":0,"input":"0 (0 bytes)","flowFilesOut":0,"bytesOut":0,"output":"0 (0 bytes)","taskCount":0,"tasksDurationNanos":0,"tasks":"0","tasksDuration":"00:00:00.000","activeThreadCount":0}}},{"revision":{"version":0},"id":"893d18c0-779e-302f-4614-e527c8dfdc66","uri":"http://localhost:8081/nifi-api/processors/893d18c0-779e-302f-4614-e527c8dfdc66","position":{"x":385.0,"y":839.0},"permissions":{"canRead":true,"canWrite":true},"bulletins":[],"component":{"id":"893d18c0-779e-302f-4614-e527c8dfdc66","parentGroupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","position":{"x":385.0,"y":839.0},"name":"Dummy","type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.3.0"},"state":"STOPPED","style":{},"relationships":[{"name":"success","description":"All successful FlowFiles are routed to this relationship","autoTerminate":true}],"supportsParallelProcessing":true,"supportsEventDriven":true,"supportsBatching":true,"persistsState":true,"restricted":false,"deprecated":false,"multipleVersionsAvailable":false,"inputRequirement":"INPUT_REQUIRED","config":{"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","Stateful Variables Initial Value":null},"descriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","description":"Regular expression for attributes to be deleted from FlowFiles.  Existing attributes that match will be deleted regardless of whether they are updated by this processor.","required":false,"sensitive":false,"dynamic":false,"supportsEl":true},"Store State":{"name":"Store State","displayName":"Store State","description":"Select whether or not state will be stored. Selecting 'Stateless' will offer the default functionality of purely updating the attributes on a FlowFile in a stateless manner. Selecting a stateful option will not only store the attributes on the FlowFile but also in the Processors state. See the 'Stateful Usage' topic of the 'Additional Details' section of this processor's documentation for more information","defaultValue":"Do not store state","allowableValues":[{"allowableValue":{"displayName":"Do not store state","value":"Do not store state"},"canRead":true},{"allowableValue":{"displayName":"Store state locally","value":"Store state locally"},"canRead":true}],"required":true,"sensitive":false,"dynamic":false,"supportsEl":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","description":"If using state to set/reference variables then this value is used to set the initial value of the stateful variable. This will only be used in the @OnScheduled method when state does not contain a value for the variable. This is required if running statefully but can be empty if needed.","required":false,"sensitive":false,"dynamic":false,"supportsEl":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"comments":"","customUiUrl":"/nifi-update-attribute-ui-1.3.0/configure","lossTolerant":false,"defaultConcurrentTasks":{"TIMER_DRIVEN":"1","EVENT_DRIVEN":"0","CRON_DRIVEN":"1"},"defaultSchedulingPeriod":{"TIMER_DRIVEN":"0 sec","CRON_DRIVEN":"* * * * * ?"}},"extensionMissing":false},"inputRequirement":"INPUT_REQUIRED","status":{"groupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","id":"893d18c0-779e-302f-4614-e527c8dfdc66","name":"Dummy","statsLastRefreshed":"19:36:04 EDT","aggregateSnapshot":{"id":"893d18c0-779e-302f-4614-e527c8dfdc66","groupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","name":"Dummy","type":"UpdateAttribute","runStatus":"Stopped","bytesRead":0,"bytesWritten":0,"read":"0 bytes","written":"0 bytes","flowFilesIn":0,"bytesIn":0,"input":"0 (0 bytes)","flowFilesOut":0,"bytesOut":0,"output":"0 (0 bytes)","taskCount":0,"tasksDurationNanos":0,"tasks":"0","tasksDuration":"00:00:00.000","activeThreadCount":0}}},{"revision":{"version":0},"id":"3088730a-46d1-32a5-e2b5-dc48ff0f706b","uri":"http://localhost:8081/nifi-api/processors/3088730a-46d1-32a5-e2b5-dc48ff0f706b","position":{"x":900.0,"y":170.0},"permissions":{"canRead":true,"canWrite":true},"bulletins":[],"component":{"id":"3088730a-46d1-32a5-e2b5-dc48ff0f706b","parentGroupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","position":{"x":900.0,"y":170.0},"name":"HandleHttpRequest","type":"org.apache.nifi.processors.standard.HandleHttpRequest","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.3.0"},"state":"STOPPED","style":{},"relationships":[{"name":"success","description":"All content that is received is routed to the 'success' relationship","autoTerminate":false}],"supportsParallelProcessing":true,"supportsEventDriven":false,"supportsBatching":false,"persistsState":false,"restricted":false,"deprecated":false,"multipleVersionsAvailable":false,"inputRequirement":"INPUT_FORBIDDEN","config":{"properties":{"Listening Port":"9010","Hostname":null,"SSL Context Service":null,"HTTP Context Map":"b1fe614b-cfc6-3db4-64c7-b9f1290d87a9","Allowed Paths":"/data","Default URL Character Set":"UTF-8","Allow GET":"false","Allow POST":"true","Allow PUT":"false","Allow DELETE":"false","Allow HEAD":"false","Allow OPTIONS":"false","Additional HTTP Methods":null,"Client Authentication":"No Authentication","container-queue-size":"50"},"descriptors":{"Listening Port":{"name":"Listening Port","displayName":"Listening Port","description":"The Port to listen on for incoming HTTP requests","defaultValue":"80","required":true,"sensitive":false,"dynamic":false,"supportsEl":false},"Hostname":{"name":"Hostname","displayName":"Hostname","description":"The Hostname to bind to. If not specified, will bind to all hosts","required":false,"sensitive":false,"dynamic":false,"supportsEl":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","description":"The SSL Context Service to use in order to secure the server. If specified, the server will accept only HTTPS requests; otherwise, the server will accept only HTTP requests","allowableValues":[],"required":false,"sensitive":false,"dynamic":false,"supportsEl":false,"identifiesControllerService":"org.apache.nifi.ssl.SSLContextService","identifiesControllerServiceBundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.3.0"}},"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","description":"The HTTP Context Map Controller Service to use for caching the HTTP Request Information","allowableValues":[{"allowableValue":{"displayName":"StandardHttpContextMap","value":"b1fe614b-cfc6-3db4-64c7-b9f1290d87a9"},"canRead":true}],"required":true,"sensitive":false,"dynamic":false,"supportsEl":false,"identifiesControllerService":"org.apache.nifi.http.HttpContextMap","identifiesControllerServiceBundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.3.0"}},"Allowed Paths":{"name":"Allowed Paths","displayName":"Allowed Paths","description":"A Regular Expression that specifies the valid HTTP Paths that are allowed in the incoming URL Requests. If this value is specified and the path of the HTTP Requests does not match this Regular Expression, the Processor will respond with a 404: NotFound","required":false,"sensitive":false,"dynamic":false,"supportsEl":false},"Default URL Character Set":{"name":"Default URL Character Set","displayName":"Default URL Character Set","description":"The character set to use for decoding URL parameters if the HTTP Request does not supply one","defaultValue":"UTF-8","required":true,"sensitive":false,"dynamic":false,"supportsEl":false},"Allow GET":{"name":"Allow GET","displayName":"Allow GET","description":"Allow HTTP GET Method","defaultValue":"true","allowableValues":[{"allowableValue":{"displayName":"true","value":"true"},"canRead":true},{"allowableValue":{"displayName":"false","value":"false"},"canRead":true}],"required":true,"sensitive":false,"dynamic":false,"supportsEl":false},"Allow POST":{"name":"Allow POST","displayName":"Allow POST","description":"Allow HTTP POST Method","defaultValue":"true","allowableValues":[{"allowableValue":{"displayName":"true","value":"true"},"canRead":true},{"allowableValue":{"displayName":"false","value":"false"},"canRead":true}],"required":true,"sensitive":false,"dynamic":false,"supportsEl":false},"Allow PUT":{"name":"Allow PUT","displayName":"Allow PUT","description":"Allow HTTP PUT Method","defaultValue":"true","allowableValues":[{"allowableValue":{"displayName":"true","value":"true"},"canRead":true},{"allowableValue":{"displayName":"false","value":"false"},"canRead":true}],"required":true,"sensitive":false,"dynamic":false,"supportsEl":false},"Allow DELETE":{"name":"Allow DELETE","displayName":"Allow DELETE","description":"Allow HTTP DELETE Method","defaultValue":"true","allowableValues":[{"allowableValue":{"displayName":"true","value":"true"},"canRead":true},{"allowableValue":{"displayName":"false","value":"false"},"canRead":true}],"required":true,"sensitive":false,"dynamic":false,"supportsEl":false},"Allow HEAD":{"name":"Allow HEAD","displayName":"Allow HEAD","description":"Allow HTTP HEAD Method","defaultValue":"false","allowableValues":[{"allowableValue":{"displayName":"true","value":"true"},"canRead":true},{"allowableValue":{"displayName":"false","value":"false"},"canRead":true}],"required":true,"sensitive":false,"dynamic":false,"supportsEl":false},"Allow OPTIONS":{"name":"Allow OPTIONS","displayName":"Allow OPTIONS","description":"Allow HTTP OPTIONS Method","defaultValue":"false","allowableValues":[{"allowableValue":{"displayName":"true","value":"true"},"canRead":true},{"allowableValue":{"displayName":"false","value":"false"},"canRead":true}],"required":true,"sensitive":false,"dynamic":false,"supportsEl":false},"Additional HTTP Methods":{"name":"Additional HTTP Methods","displayName":"Additional HTTP Methods","description":"A comma-separated list of non-standard HTTP Methods that should be allowed","required":false,"sensitive":false,"dynamic":false,"supportsEl":false},"Client Authentication":{"name":"Client Authentication","displayName":"Client Authentication","description":"Specifies whether or not the Processor should authenticate clients. This value is ignored if the <SSL Context Service> Property is not specified or the SSL Context provided uses only a KeyStore and not a TrustStore.","defaultValue":"No Authentication","allowableValues":[{"allowableValue":{"displayName":"No Authentication","value":"No Authentication","description":"Processor will not authenticate clients. Anyone can communicate with this Processor anonymously"},"canRead":true},{"allowableValue":{"displayName":"Want Authentication","value":"Want Authentication","description":"Processor will try to verify the client but if unable to verify will allow the client to communicate anonymously"},"canRead":true},{"allowableValue":{"displayName":"Need Authentication","value":"Need Authentication","description":"Processor will reject communications from any client unless the client provides a certificate that is trusted by the TrustStorespecified in the SSL Context Service"},"canRead":true}],"required":true,"sensitive":false,"dynamic":false,"supportsEl":false},"container-queue-size":{"name":"container-queue-size","displayName":"Container Queue Size","description":"The size of the queue for Http Request Containers","defaultValue":"50","required":true,"sensitive":false,"dynamic":false,"supportsEl":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"comments":"","lossTolerant":false,"defaultConcurrentTasks":{"TIMER_DRIVEN":"1","EVENT_DRIVEN":"0","CRON_DRIVEN":"1"},"defaultSchedulingPeriod":{"TIMER_DRIVEN":"0 sec","CRON_DRIVEN":"* * * * * ?"}},"validationErrors":["'HTTP Context Map' validated against 'StandardHttpContextMap' is invalid because Controller Service StandardHttpContextMap[id=b1fe614b-cfc6-3db4-64c7-b9f1290d87a9] is disabled"],"extensionMissing":false},"inputRequirement":"INPUT_FORBIDDEN","status":{"groupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","id":"3088730a-46d1-32a5-e2b5-dc48ff0f706b","name":"HandleHttpRequest","statsLastRefreshed":"19:36:04 EDT","aggregateSnapshot":{"id":"3088730a-46d1-32a5-e2b5-dc48ff0f706b","groupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","name":"HandleHttpRequest","type":"HandleHttpRequest","runStatus":"Invalid","bytesRead":0,"bytesWritten":0,"read":"0 bytes","written":"0 bytes","flowFilesIn":0,"bytesIn":0,"input":"0 (0 bytes)","flowFilesOut":0,"bytesOut":0,"output":"0 (0 bytes)","taskCount":0,"tasksDurationNanos":0,"tasks":"0","tasksDuration":"00:00:00.000","activeThreadCount":0}}},{"revision":{"version":0},"id":"12561eb6-0aa5-31e5-4f1f-2601d0e7e02f","uri":"http://localhost:8081/nifi-api/processors/12561eb6-0aa5-31e5-4f1f-2601d0e7e02f","position":{"x":1474.0,"y":836.0},"permissions":{"canRead":true,"canWrite":true},"bulletins":[],"component":{"id":"12561eb6-0aa5-31e5-4f1f-2601d0e7e02f","parentGroupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","position":{"x":1474.0,"y":836.0},"name":"Dummy","type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.3.0"},"state":"STOPPED","style":{},"relationships":[{"name":"success","description":"All successful FlowFiles are routed to this relationship","autoTerminate":true}],"supportsParallelProcessing":true,"supportsEventDriven":true,"supportsBatching":true,"persistsState":true,"restricted":false,"deprecated":false,"multipleVersionsAvailable":false,"inputRequirement":"INPUT_REQUIRED","config":{"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","Stateful Variables Initial Value":null},"descriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","description":"Regular expression for attributes to be deleted from FlowFiles.  Existing attributes that match will be deleted regardless of whether they are updated by this processor.","required":false,"sensitive":false,"dynamic":false,"supportsEl":true},"Store State":{"name":"Store State","displayName":"Store State","description":"Select whether or not state will be stored. Selecting 'Stateless' will offer the default functionality of purely updating the attributes on a FlowFile in a stateless manner. Selecting a stateful option will not only store the attributes on the FlowFile but also in the Processors state. See the 'Stateful Usage' topic of the 'Additional Details' section of this processor's documentation for more information","defaultValue":"Do not store state","allowableValues":[{"allowableValue":{"displayName":"Do not store state","value":"Do not store state"},"canRead":true},{"allowableValue":{"displayName":"Store state locally","value":"Store state locally"},"canRead":true}],"required":true,"sensitive":false,"dynamic":false,"supportsEl":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","description":"If using state to set/reference variables then this value is used to set the initial value of the stateful variable. This will only be used in the @OnScheduled method when state does not contain a value for the variable. This is required if running statefully but can be empty if needed.","required":false,"sensitive":false,"dynamic":false,"supportsEl":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"comments":"","customUiUrl":"/nifi-update-attribute-ui-1.3.0/configure","lossTolerant":false,"defaultConcurrentTasks":{"TIMER_DRIVEN":"1","EVENT_DRIVEN":"0","CRON_DRIVEN":"1"},"defaultSchedulingPeriod":{"TIMER_DRIVEN":"0 sec","CRON_DRIVEN":"* * * * * ?"}},"extensionMissing":false},"inputRequirement":"INPUT_REQUIRED","status":{"groupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","id":"12561eb6-0aa5-31e5-4f1f-2601d0e7e02f","name":"Dummy","statsLastRefreshed":"19:36:04 EDT","aggregateSnapshot":{"id":"12561eb6-0aa5-31e5-4f1f-2601d0e7e02f","groupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","name":"Dummy","type":"UpdateAttribute","runStatus":"Stopped","bytesRead":0,"bytesWritten":0,"read":"0 bytes","written":"0 bytes","flowFilesIn":0,"bytesIn":0,"input":"0 (0 bytes)","flowFilesOut":0,"bytesOut":0,"output":"0 (0 bytes)","taskCount":0,"tasksDurationNanos":0,"tasks":"0","tasksDuration":"00:00:00.000","activeThreadCount":0}}},{"revision":{"version":0},"id":"6653ad0b-706a-3d01-0ee2-0c8c3e3693f6","uri":"http://localhost:8081/nifi-api/processors/6653ad0b-706a-3d01-0ee2-0c8c3e3693f6","position":{"x":685.0,"y":569.0},"permissions":{"canRead":true,"canWrite":true},"bulletins":[],"component":{"id":"6653ad0b-706a-3d01-0ee2-0c8c3e3693f6","parentGroupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","position":{"x":685.0,"y":569.0},"name":"HandleHttpResponse","type":"org.apache.nifi.processors.standard.HandleHttpResponse","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.3.0"},"state":"STOPPED","style":{},"relationships":[{"name":"failure","description":"FlowFiles will be routed to this Relationship if the Processor is unable to respond to the requestor. This may happen, for instance, if the connection times out or if NiFi is restarted before responding to the HTTP Request.","autoTerminate":false},{"name":"success","description":"FlowFiles will be routed to this Relationship after the response has been successfully sent to the requestor","autoTerminate":false}],"supportsParallelProcessing":true,"supportsEventDriven":false,"supportsBatching":false,"persistsState":false,"restricted":false,"deprecated":false,"multipleVersionsAvailable":false,"inputRequirement":"INPUT_REQUIRED","config":{"properties":{"HTTP Status Code":"503","HTTP Context Map":"b1fe614b-cfc6-3db4-64c7-b9f1290d87a9"},"descriptors":{"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","description":"The HTTP Status Code to use when responding to the HTTP Request. See Section 10 of RFC 2616 for more information.","required":true,"sensitive":false,"dynamic":false,"supportsEl":true},"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","description":"The HTTP Context Map Controller Service to use for caching the HTTP Request Information","allowableValues":[{"allowableValue":{"displayName":"StandardHttpContextMap","value":"b1fe614b-cfc6-3db4-64c7-b9f1290d87a9"},"canRead":true}],"required":true,"sensitive":false,"dynamic":false,"supportsEl":false,"identifiesControllerService":"org.apache.nifi.http.HttpContextMap","identifiesControllerServiceBundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.3.0"}}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"comments":"","lossTolerant":false,"defaultConcurrentTasks":{"TIMER_DRIVEN":"1","EVENT_DRIVEN":"0","CRON_DRIVEN":"1"},"defaultSchedulingPeriod":{"TIMER_DRIVEN":"0 sec","CRON_DRIVEN":"* * * * * ?"}},"validationErrors":["'HTTP Context Map' validated against 'StandardHttpContextMap' is invalid because Controller Service StandardHttpContextMap[id=b1fe614b-cfc6-3db4-64c7-b9f1290d87a9] is disabled"],"extensionMissing":false},"inputRequirement":"INPUT_REQUIRED","status":{"groupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","id":"6653ad0b-706a-3d01-0ee2-0c8c3e3693f6","name":"HandleHttpResponse","statsLastRefreshed":"19:36:04 EDT","aggregateSnapshot":{"id":"6653ad0b-706a-3d01-0ee2-0c8c3e3693f6","groupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","name":"HandleHttpResponse","type":"HandleHttpResponse","runStatus":"Invalid","bytesRead":0,"bytesWritten":0,"read":"0 bytes","written":"0 bytes","flowFilesIn":0,"bytesIn":0,"input":"0 (0 bytes)","flowFilesOut":0,"bytesOut":0,"output":"0 (0 bytes)","taskCount":0,"tasksDurationNanos":0,"tasks":"0","tasksDuration":"00:00:00.000","activeThreadCount":0}}},{"revision":{"version":0},"id":"f88b7568-4b58-3264-1542-9e67340cc0c2","uri":"http://localhost:8081/nifi-api/processors/f88b7568-4b58-3264-1542-9e67340cc0c2","position":{"x":1267.0,"y":590.0},"permissions":{"canRead":true,"canWrite":true},"bulletins":[],"component":{"id":"f88b7568-4b58-3264-1542-9e67340cc0c2","parentGroupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","position":{"x":1267.0,"y":590.0},"name":"HandleHttpResponse","type":"org.apache.nifi.processors.standard.HandleHttpResponse","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.3.0"},"state":"STOPPED","style":{},"relationships":[{"name":"failure","description":"FlowFiles will be routed to this Relationship if the Processor is unable to respond to the requestor. This may happen, for instance, if the connection times out or if NiFi is restarted before responding to the HTTP Request.","autoTerminate":false},{"name":"success","description":"FlowFiles will be routed to this Relationship after the response has been successfully sent to the requestor","autoTerminate":false}],"supportsParallelProcessing":true,"supportsEventDriven":false,"supportsBatching":false,"persistsState":false,"restricted":false,"deprecated":false,"multipleVersionsAvailable":false,"inputRequirement":"INPUT_REQUIRED","config":{"properties":{"HTTP Status Code":"201","HTTP Context Map":"b1fe614b-cfc6-3db4-64c7-b9f1290d87a9"},"descriptors":{"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","description":"The HTTP Status Code to use when responding to the HTTP Request. See Section 10 of RFC 2616 for more information.","required":true,"sensitive":false,"dynamic":false,"supportsEl":true},"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","description":"The HTTP Context Map Controller Service to use for caching the HTTP Request Information","allowableValues":[{"allowableValue":{"displayName":"StandardHttpContextMap","value":"b1fe614b-cfc6-3db4-64c7-b9f1290d87a9"},"canRead":true}],"required":true,"sensitive":false,"dynamic":false,"supportsEl":false,"identifiesControllerService":"org.apache.nifi.http.HttpContextMap","identifiesControllerServiceBundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.3.0"}}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"comments":"","lossTolerant":false,"defaultConcurrentTasks":{"TIMER_DRIVEN":"1","EVENT_DRIVEN":"0","CRON_DRIVEN":"1"},"defaultSchedulingPeriod":{"TIMER_DRIVEN":"0 sec","CRON_DRIVEN":"* * * * * ?"}},"validationErrors":["'HTTP Context Map' validated against 'StandardHttpContextMap' is invalid because Controller Service StandardHttpContextMap[id=b1fe614b-cfc6-3db4-64c7-b9f1290d87a9] is disabled"],"extensionMissing":false},"inputRequirement":"INPUT_REQUIRED","status":{"groupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","id":"f88b7568-4b58-3264-1542-9e67340cc0c2","name":"HandleHttpResponse","statsLastRefreshed":"19:36:04 EDT","aggregateSnapshot":{"id":"f88b7568-4b58-3264-1542-9e67340cc0c2","groupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","name":"HandleHttpResponse","type":"HandleHttpResponse","runStatus":"Invalid","bytesRead":0,"bytesWritten":0,"read":"0 bytes","written":"0 bytes","flowFilesIn":0,"bytesIn":0,"input":"0 (0 bytes)","flowFilesOut":0,"bytesOut":0,"output":"0 (0 bytes)","taskCount":0,"tasksDurationNanos":0,"tasks":"0","tasksDuration":"00:00:00.000","activeThreadCount":0}}}],"inputPorts":[],"outputPorts":[],"connections":[{"revision":{"version":0},"id":"782c6838-8377-3b1a-36f5-f3bf0034ae23","uri":"http://localhost:8081/nifi-api/connections/782c6838-8377-3b1a-36f5-f3bf0034ae23","permissions":{"canRead":true,"canWrite":true},"component":{"id":"782c6838-8377-3b1a-36f5-f3bf0034ae23","parentGroupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","source":{"id":"f88b7568-4b58-3264-1542-9e67340cc0c2","type":"PROCESSOR","groupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","name":"HandleHttpResponse","running":false,"comments":""},"destination":{"id":"8c98f719-d302-3587-03e9-a6f1e4a2d13c","type":"PROCESSOR","groupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","name":"Dummy","running":false,"comments":""},"name":"","labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"availableRelationships":["failure","success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[]},"status":{"id":"782c6838-8377-3b1a-36f5-f3bf0034ae23","groupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","name":"failure","statsLastRefreshed":"19:36:04 EDT","sourceId":"f88b7568-4b58-3264-1542-9e67340cc0c2","sourceName":"HandleHttpResponse","destinationId":"8c98f719-d302-3587-03e9-a6f1e4a2d13c","destinationName":"Dummy","aggregateSnapshot":{"id":"782c6838-8377-3b1a-36f5-f3bf0034ae23","groupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","name":"failure","sourceName":"HandleHttpResponse","destinationName":"Dummy","flowFilesIn":0,"bytesIn":0,"input":"0 (0 bytes)","flowFilesOut":0,"bytesOut":0,"output":"0 (0 bytes)","flowFilesQueued":0,"bytesQueued":0,"queued":"0 (0 bytes)","queuedSize":"0 bytes","queuedCount":"0","percentUseCount":0,"percentUseBytes":0}},"bends":[],"labelIndex":1,"zIndex":0,"sourceId":"f88b7568-4b58-3264-1542-9e67340cc0c2","sourceGroupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","sourceType":"PROCESSOR","destinationId":"8c98f719-d302-3587-03e9-a6f1e4a2d13c","destinationGroupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","destinationType":"PROCESSOR"},{"revision":{"version":0},"id":"538cfc6f-201c-36de-dbf1-d5c2b1569f09","uri":"http://localhost:8081/nifi-api/connections/538cfc6f-201c-36de-dbf1-d5c2b1569f09","permissions":{"canRead":true,"canWrite":true},"component":{"id":"538cfc6f-201c-36de-dbf1-d5c2b1569f09","parentGroupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","source":{"id":"3088730a-46d1-32a5-e2b5-dc48ff0f706b","type":"PROCESSOR","groupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","name":"HandleHttpRequest","running":false,"comments":""},"destination":{"id":"b3ce46b2-ac5b-32df-849e-68b8eceb5bac","type":"PROCESSOR","groupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","name":"PutKafka","running":false,"comments":""},"name":"","labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"availableRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[]},"status":{"id":"538cfc6f-201c-36de-dbf1-d5c2b1569f09","groupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","name":"success","statsLastRefreshed":"19:36:04 EDT","sourceId":"3088730a-46d1-32a5-e2b5-dc48ff0f706b","sourceName":"HandleHttpRequest","destinationId":"b3ce46b2-ac5b-32df-849e-68b8eceb5bac","destinationName":"PutKafka","aggregateSnapshot":{"id":"538cfc6f-201c-36de-dbf1-d5c2b1569f09","groupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","name":"success","sourceName":"HandleHttpRequest","destinationName":"PutKafka","flowFilesIn":0,"bytesIn":0,"input":"0 (0 bytes)","flowFilesOut":0,"bytesOut":0,"output":"0 (0 bytes)","flowFilesQueued":0,"bytesQueued":0,"queued":"0 (0 bytes)","queuedSize":"0 bytes","queuedCount":"0","percentUseCount":0,"percentUseBytes":0}},"bends":[],"labelIndex":1,"zIndex":0,"sourceId":"3088730a-46d1-32a5-e2b5-dc48ff0f706b","sourceGroupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","sourceType":"PROCESSOR","destinationId":"b3ce46b2-ac5b-32df-849e-68b8eceb5bac","destinationGroupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","destinationType":"PROCESSOR"},{"revision":{"version":0},"id":"1a14fd1d-a016-3bc8-0ed3-99bd24e733c1","uri":"http://localhost:8081/nifi-api/connections/1a14fd1d-a016-3bc8-0ed3-99bd24e733c1","permissions":{"canRead":true,"canWrite":true},"component":{"id":"1a14fd1d-a016-3bc8-0ed3-99bd24e733c1","parentGroupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","source":{"id":"f88b7568-4b58-3264-1542-9e67340cc0c2","type":"PROCESSOR","groupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","name":"HandleHttpResponse","running":false,"comments":""},"destination":{"id":"12561eb6-0aa5-31e5-4f1f-2601d0e7e02f","type":"PROCESSOR","groupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","name":"Dummy","running":false,"comments":""},"name":"","labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"availableRelationships":["failure","success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[]},"status":{"id":"1a14fd1d-a016-3bc8-0ed3-99bd24e733c1","groupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","name":"success","statsLastRefreshed":"19:36:04 EDT","sourceId":"f88b7568-4b58-3264-1542-9e67340cc0c2","sourceName":"HandleHttpResponse","destinationId":"12561eb6-0aa5-31e5-4f1f-2601d0e7e02f","destinationName":"Dummy","aggregateSnapshot":{"id":"1a14fd1d-a016-3bc8-0ed3-99bd24e733c1","groupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","name":"success","sourceName":"HandleHttpResponse","destinationName":"Dummy","flowFilesIn":0,"bytesIn":0,"input":"0 (0 bytes)","flowFilesOut":0,"bytesOut":0,"output":"0 (0 bytes)","flowFilesQueued":0,"bytesQueued":0,"queued":"0 (0 bytes)","queuedSize":"0 bytes","queuedCount":"0","percentUseCount":0,"percentUseBytes":0}},"bends":[],"labelIndex":1,"zIndex":0,"sourceId":"f88b7568-4b58-3264-1542-9e67340cc0c2","sourceGroupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","sourceType":"PROCESSOR","destinationId":"12561eb6-0aa5-31e5-4f1f-2601d0e7e02f","destinationGroupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","destinationType":"PROCESSOR"},{"revision":{"version":0},"id":"0ec0e781-b020-308f-e2d6-7f35cad59377","uri":"http://localhost:8081/nifi-api/connections/0ec0e781-b020-308f-e2d6-7f35cad59377","permissions":{"canRead":true,"canWrite":true},"component":{"id":"0ec0e781-b020-308f-e2d6-7f35cad59377","parentGroupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","source":{"id":"b3ce46b2-ac5b-32df-849e-68b8eceb5bac","type":"PROCESSOR","groupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","name":"PutKafka","running":false,"comments":""},"destination":{"id":"6653ad0b-706a-3d01-0ee2-0c8c3e3693f6","type":"PROCESSOR","groupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","name":"HandleHttpResponse","running":false,"comments":""},"name":"","labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"availableRelationships":["failure","success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[]},"status":{"id":"0ec0e781-b020-308f-e2d6-7f35cad59377","groupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","name":"failure","statsLastRefreshed":"19:36:04 EDT","sourceId":"b3ce46b2-ac5b-32df-849e-68b8eceb5bac","sourceName":"PutKafka","destinationId":"6653ad0b-706a-3d01-0ee2-0c8c3e3693f6","destinationName":"HandleHttpResponse","aggregateSnapshot":{"id":"0ec0e781-b020-308f-e2d6-7f35cad59377","groupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","name":"failure","sourceName":"PutKafka","destinationName":"HandleHttpResponse","flowFilesIn":0,"bytesIn":0,"input":"0 (0 bytes)","flowFilesOut":0,"bytesOut":0,"output":"0 (0 bytes)","flowFilesQueued":0,"bytesQueued":0,"queued":"0 (0 bytes)","queuedSize":"0 bytes","queuedCount":"0","percentUseCount":0,"percentUseBytes":0}},"bends":[],"labelIndex":1,"zIndex":0,"sourceId":"b3ce46b2-ac5b-32df-849e-68b8eceb5bac","sourceGroupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","sourceType":"PROCESSOR","destinationId":"6653ad0b-706a-3d01-0ee2-0c8c3e3693f6","destinationGroupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","destinationType":"PROCESSOR"},{"revision":{"version":0},"id":"9fc183d5-3bfb-3496-36ea-bc2a9152bda5","uri":"http://localhost:8081/nifi-api/connections/9fc183d5-3bfb-3496-36ea-bc2a9152bda5","permissions":{"canRead":true,"canWrite":true},"component":{"id":"9fc183d5-3bfb-3496-36ea-bc2a9152bda5","parentGroupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","source":{"id":"6653ad0b-706a-3d01-0ee2-0c8c3e3693f6","type":"PROCESSOR","groupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","name":"HandleHttpResponse","running":false,"comments":""},"destination":{"id":"893d18c0-779e-302f-4614-e527c8dfdc66","type":"PROCESSOR","groupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","name":"Dummy","running":false,"comments":""},"name":"","labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"availableRelationships":["failure","success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[]},"status":{"id":"9fc183d5-3bfb-3496-36ea-bc2a9152bda5","groupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","name":"failure","statsLastRefreshed":"19:36:04 EDT","sourceId":"6653ad0b-706a-3d01-0ee2-0c8c3e3693f6","sourceName":"HandleHttpResponse","destinationId":"893d18c0-779e-302f-4614-e527c8dfdc66","destinationName":"Dummy","aggregateSnapshot":{"id":"9fc183d5-3bfb-3496-36ea-bc2a9152bda5","groupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","name":"failure","sourceName":"HandleHttpResponse","destinationName":"Dummy","flowFilesIn":0,"bytesIn":0,"input":"0 (0 bytes)","flowFilesOut":0,"bytesOut":0,"output":"0 (0 bytes)","flowFilesQueued":0,"bytesQueued":0,"queued":"0 (0 bytes)","queuedSize":"0 bytes","queuedCount":"0","percentUseCount":0,"percentUseBytes":0}},"bends":[],"labelIndex":1,"zIndex":0,"sourceId":"6653ad0b-706a-3d01-0ee2-0c8c3e3693f6","sourceGroupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","sourceType":"PROCESSOR","destinationId":"893d18c0-779e-302f-4614-e527c8dfdc66","destinationGroupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","destinationType":"PROCESSOR"},{"revision":{"version":0},"id":"10951e08-46ea-3325-071b-501d71bdb6ac","uri":"http://localhost:8081/nifi-api/connections/10951e08-46ea-3325-071b-501d71bdb6ac","permissions":{"canRead":true,"canWrite":true},"component":{"id":"10951e08-46ea-3325-071b-501d71bdb6ac","parentGroupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","source":{"id":"b3ce46b2-ac5b-32df-849e-68b8eceb5bac","type":"PROCESSOR","groupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","name":"PutKafka","running":false,"comments":""},"destination":{"id":"f88b7568-4b58-3264-1542-9e67340cc0c2","type":"PROCESSOR","groupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","name":"HandleHttpResponse","running":false,"comments":""},"name":"","labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"availableRelationships":["failure","success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[]},"status":{"id":"10951e08-46ea-3325-071b-501d71bdb6ac","groupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","name":"success","statsLastRefreshed":"19:36:04 EDT","sourceId":"b3ce46b2-ac5b-32df-849e-68b8eceb5bac","sourceName":"PutKafka","destinationId":"f88b7568-4b58-3264-1542-9e67340cc0c2","destinationName":"HandleHttpResponse","aggregateSnapshot":{"id":"10951e08-46ea-3325-071b-501d71bdb6ac","groupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","name":"success","sourceName":"PutKafka","destinationName":"HandleHttpResponse","flowFilesIn":0,"bytesIn":0,"input":"0 (0 bytes)","flowFilesOut":0,"bytesOut":0,"output":"0 (0 bytes)","flowFilesQueued":0,"bytesQueued":0,"queued":"0 (0 bytes)","queuedSize":"0 bytes","queuedCount":"0","percentUseCount":0,"percentUseBytes":0}},"bends":[],"labelIndex":1,"zIndex":0,"sourceId":"b3ce46b2-ac5b-32df-849e-68b8eceb5bac","sourceGroupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","sourceType":"PROCESSOR","destinationId":"f88b7568-4b58-3264-1542-9e67340cc0c2","destinationGroupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","destinationType":"PROCESSOR"},{"revision":{"version":0},"id":"61581e07-8bfd-33dd-2a4f-6fe965e5676a","uri":"http://localhost:8081/nifi-api/connections/61581e07-8bfd-33dd-2a4f-6fe965e5676a","permissions":{"canRead":true,"canWrite":true},"component":{"id":"61581e07-8bfd-33dd-2a4f-6fe965e5676a","parentGroupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","source":{"id":"6653ad0b-706a-3d01-0ee2-0c8c3e3693f6","type":"PROCESSOR","groupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","name":"HandleHttpResponse","running":false,"comments":""},"destination":{"id":"69bf6ffd-bac0-3045-757e-73b0a457bf9d","type":"PROCESSOR","groupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","name":"Dummy","running":false,"comments":""},"name":"","labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"availableRelationships":["failure","success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[]},"status":{"id":"61581e07-8bfd-33dd-2a4f-6fe965e5676a","groupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","name":"success","statsLastRefreshed":"19:36:04 EDT","sourceId":"6653ad0b-706a-3d01-0ee2-0c8c3e3693f6","sourceName":"HandleHttpResponse","destinationId":"69bf6ffd-bac0-3045-757e-73b0a457bf9d","destinationName":"Dummy","aggregateSnapshot":{"id":"61581e07-8bfd-33dd-2a4f-6fe965e5676a","groupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","name":"success","sourceName":"HandleHttpResponse","destinationName":"Dummy","flowFilesIn":0,"bytesIn":0,"input":"0 (0 bytes)","flowFilesOut":0,"bytesOut":0,"output":"0 (0 bytes)","flowFilesQueued":0,"bytesQueued":0,"queued":"0 (0 bytes)","queuedSize":"0 bytes","queuedCount":"0","percentUseCount":0,"percentUseBytes":0}},"bends":[],"labelIndex":1,"zIndex":0,"sourceId":"6653ad0b-706a-3d01-0ee2-0c8c3e3693f6","sourceGroupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","sourceType":"PROCESSOR","destinationId":"69bf6ffd-bac0-3045-757e-73b0a457bf9d","destinationGroupId":"8b4755fe-015e-1000-bd0f-2847b3200d63","destinationType":"PROCESSOR"}],"labels":[],"funnels":[]},"lastRefreshed":"19:36:04 EDT"}}